In [2]:
import pandas as pd

In [3]:
lists_dict= [
    {'name': 'ram', 'age': 30, 'address': 'kathmandu'},
    {'name': 'shyam', 'age': 25, 'address': 'bhaktapur'},
    {'name': 'hari', 'age': 35, 'address': 'lalitpur'}
]
dict = {
    'names': ['ram', 'shyam', 'hari'],
    'ages': [30, 25, 35],
    'addresses': ['kathmandu', 'bhaktapur', 'lalitpur']
}
list_of_lists = [
    ['ram', 30, 'kathmandu'],
    ['shyam', 25, 'bhaktapur'],
    ['hari', 35, 'lalitpur']
]
list_of_tuple=[
    ('ram', 30, 'kathmandu'),
    ('shyam', 25, 'bhaktapur'),
    ('hari', 35, 'lalitpur')
]

In [4]:
print(list_of_tuple)

[('ram', 30, 'kathmandu'), ('shyam', 25, 'bhaktapur'), ('hari', 35, 'lalitpur')]

In [5]:
#Read 'weather_data.csv' file using csv reader.
df=pd.read_csv('/home/santosh/Desktop/Python-machine-learning-/Week 05/Day 04/datas/weather_data - weather_data.csv',skiprows=2)
print(df)

          day    temperature     windspeed     event
0    1/1/2017             32             6      Rain
1    1/4/2017  not available             9     Sunny
2    1/5/2017             -1  not measured      Snow
3    1/6/2017  not available             7  no event
4    1/7/2017             32  not measured      Rain
5    1/8/2017  not available  not measured     Sunny
6    1/9/2017  not available  not measured  no event
7   1/10/2017             34             8    Cloudy
8   1/11/2017             -4            -1      Snow
9   1/12/2017             26            12     Sunny
10  1/13/2017             12            12     Rainy
11  1/11/2017             -1            12      Snow
12  1/14/2017             40            -1     Sunny

In [6]:
#Store the data inside the csv file into a list of lists.
list_of_lists = df.values.tolist()

print(list_of_lists)

[['1/1/2017', '32', '6', 'Rain'], ['1/4/2017', 'not available', '9', 'Sunny'], ['1/5/2017', '-1', 'not measured', 'Snow'], ['1/6/2017', 'not available', '7', 'no event'], ['1/7/2017', '32', 'not measured', 'Rain'], ['1/8/2017', 'not available', 'not measured', 'Sunny'], ['1/9/2017', 'not available', 'not measured', 'no event'], ['1/10/2017', '34', '8', 'Cloudy'], ['1/11/2017', '-4', '-1', 'Snow'], ['1/12/2017', '26', '12', 'Sunny'], ['1/13/2017', '12', '12', 'Rainy'], ['1/11/2017', '-1', '12', 'Snow'], ['1/14/2017', '40', '-1', 'Sunny']]

In [7]:
# Then create a pandas dataframe using list of list.
new_dataframe = pd.DataFrame(list_of_lists, columns=df.columns)

print(new_dataframe)

          day    temperature     windspeed     event
0    1/1/2017             32             6      Rain
1    1/4/2017  not available             9     Sunny
2    1/5/2017             -1  not measured      Snow
3    1/6/2017  not available             7  no event
4    1/7/2017             32  not measured      Rain
5    1/8/2017  not available  not measured     Sunny
6    1/9/2017  not available  not measured  no event
7   1/10/2017             34             8    Cloudy
8   1/11/2017             -4            -1      Snow
9   1/12/2017             26            12     Sunny
10  1/13/2017             12            12     Rainy
11  1/11/2017             -1            12      Snow
12  1/14/2017             40            -1     Sunny

In [8]:
# Step 1: Read 'imports-85.data' file using file reader
data = []
with open('/home/santosh/Desktop/Python-machine-learning-/Week 05/Day 04/datas/imports-85.data', 'r') as file:
    for line in file:
        data.append(line.strip().split(','))

# Print the first few lines of data to verify
print(data[:5])

[['3', '?', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', '88.60', '168.80', '64.10', '48.80', '2548', 'dohc', 'four', '130', 'mpfi', '3.47', '2.68', '9.00', '111', '5000', '21', '27', '13495'], ['3', '?', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', '88.60', '168.80', '64.10', '48.80', '2548', 'dohc', 'four', '130', 'mpfi', '3.47', '2.68', '9.00', '111', '5000', '21', '27', '16500'], ['1', '?', 'alfa-romero', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', '94.50', '171.20', '65.50', '52.40', '2823', 'ohcv', 'six', '152', 'mpfi', '2.68', '3.47', '9.00', '154', '5000', '19', '26', '16500'], ['2', '164', 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', '99.80', '176.60', '66.20', '54.30', '2337', 'ohc', 'four', '109', 'mpfi', '3.19', '3.40', '10.00', '102', '5500', '24', '30', '13950'], ['2', '164', 'audi', 'gas', 'std', 'four', 'sedan', '4wd', 'front', '99.40', '176.60', '66.40', '54.30', '2824', 'ohc', 'five', '136', 'mpfi', '3.19', '3.40', '8.00', '115', '5500', '18', '22', '17450']]

In [9]:
import_columns = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
          'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 
           'height', 'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system',
          'bore', 'stroke', 'compression', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 
           'price']

# Create a pandas DataFrame using the list of lists
df = pd.DataFrame(data, columns=import_columns)

# Print the DataFrame
print(df)

    symboling normalized_losses         make fuel_type aspiration  \
0           3                 ?  alfa-romero       gas        std
1           3                 ?  alfa-romero       gas        std
2           1                 ?  alfa-romero       gas        std
3           2               164         audi       gas        std
4           2               164         audi       gas        std
..        ...               ...          ...       ...        ...
200        -1                95        volvo       gas        std
201        -1                95        volvo       gas      turbo
202        -1                95        volvo       gas        std
203        -1                95        volvo    diesel      turbo
204        -1                95        volvo       gas      turbo

    num_of_doors   body_style drive_wheels engine_location wheel_base  ...  \
0            two  convertible          rwd           front      88.60  ...
1            two  convertible          rwd           front      88.60  ...
2            two    hatchback          rwd           front      94.50  ...
3           four        sedan          fwd           front      99.80  ...
4           four        sedan          4wd           front      99.40  ...
..           ...          ...          ...             ...        ...  ...
200         four        sedan          rwd           front     109.10  ...
201         four        sedan          rwd           front     109.10  ...
202         four        sedan          rwd           front     109.10  ...
203         four        sedan          rwd           front     109.10  ...
204         four        sedan          rwd           front     109.10  ...

    engine_size fuel_system  bore stroke compression horsepower peak_rpm  \
0           130        mpfi  3.47   2.68        9.00        111     5000
1           130        mpfi  3.47   2.68        9.00        111     5000
2           152        mpfi  2.68   3.47        9.00        154     5000
3           109        mpfi  3.19   3.40       10.00        102     5500
4           136        mpfi  3.19   3.40        8.00        115     5500
..          ...         ...   ...    ...         ...        ...      ...
200         141        mpfi  3.78   3.15        9.50        114     5400
201         141        mpfi  3.78   3.15        8.70        160     5300
202         173        mpfi  3.58   2.87        8.80        134     5500
203         145         idi  3.01   3.40       23.00        106     4800
204         141        mpfi  3.78   3.15        9.50        114     5400

    city_mpg highway_mpg  price
0         21          27  13495
1         21          27  16500
2         19          26  16500
3         24          30  13950
4         18          22  17450
..       ...         ...    ...
200       23          28  16845
201       19          25  19045
202       18          23  21485
203       26          27  22470
204       19          25  22625

[205 rows x 26 columns]

# Pandas DataFrame From Csv files

In [12]:
weather_df=pd.read_csv("./datas/weather_data - weather_data.csv",skiprows=1)
weather_df

   dfuhsdjufio     Unnamed: 1    Unnamed: 2 Unnamed: 3
0          day    temperature     windspeed      event
1     1/1/2017             32             6       Rain
2     1/4/2017  not available             9      Sunny
3     1/5/2017             -1  not measured       Snow
4     1/6/2017  not available             7   no event
5     1/7/2017             32  not measured       Rain
6     1/8/2017  not available  not measured      Sunny
7     1/9/2017  not available  not measured   no event
8    1/10/2017             34             8     Cloudy
9    1/11/2017             -4            -1       Snow
10   1/12/2017             26            12      Sunny
11   1/13/2017             12            12      Rainy
12   1/11/2017             -1            12       Snow
13   1/14/2017             40            -1      Sunny

In [11]:
weather_df=pd.read_csv("./datas/weather_data - weather_data.csv",header=2)
weather_df

          day    temperature     windspeed     event
0    1/1/2017             32             6      Rain
1    1/4/2017  not available             9     Sunny
2    1/5/2017             -1  not measured      Snow
3    1/6/2017  not available             7  no event
4    1/7/2017             32  not measured      Rain
5    1/8/2017  not available  not measured     Sunny
6    1/9/2017  not available  not measured  no event
7   1/10/2017             34             8    Cloudy
8   1/11/2017             -4            -1      Snow
9   1/12/2017             26            12     Sunny
10  1/13/2017             12            12     Rainy
11  1/11/2017             -1            12      Snow
12  1/14/2017             40            -1     Sunny

# Reading a csv file without header and giving names to the columns

In [13]:
# Reading a csv file without header and giving names to the columns
columns=['Day','Temperature','Windspeed','Event']

weather_df=pd.read_csv("./datas/weather_data - weather_data.csv",skiprows=3,names=columns)
weather_df

          Day    Temperature     Windspeed     Event
0    1/1/2017             32             6      Rain
1    1/4/2017  not available             9     Sunny
2    1/5/2017             -1  not measured      Snow
3    1/6/2017  not available             7  no event
4    1/7/2017             32  not measured      Rain
5    1/8/2017  not available  not measured     Sunny
6    1/9/2017  not available  not measured  no event
7   1/10/2017             34             8    Cloudy
8   1/11/2017             -4            -1      Snow
9   1/12/2017             26            12     Sunny
10  1/13/2017             12            12     Rainy
11  1/11/2017             -1            12      Snow
12  1/14/2017             40            -1     Sunny

# Read limited data from csv file using nrows parameters

In [14]:
weather_df=pd.read_csv("./datas/weather_data - weather_data.csv",skiprows=3,nrows=5,header=None,names=columns)
weather_df

        Day    Temperature     Windspeed     Event
0  1/1/2017             32             6      Rain
1  1/4/2017  not available             9     Sunny
2  1/5/2017             -1  not measured      Snow
3  1/6/2017  not available             7  no event
4  1/7/2017             32  not measured      Rain

# Readng a csv files with na_values parameters('weather_data.csv',)

In [16]:
weather_df=pd.read_csv("./datas/weather_data - weather_data.csv",skiprows=2,na_values=('not available','not measured'))
weather_df

          day  temperature  windspeed     event
0    1/1/2017         32.0        6.0      Rain
1    1/4/2017          NaN        9.0     Sunny
2    1/5/2017         -1.0        NaN      Snow
3    1/6/2017          NaN        7.0  no event
4    1/7/2017         32.0        NaN      Rain
5    1/8/2017          NaN        NaN     Sunny
6    1/9/2017          NaN        NaN  no event
7   1/10/2017         34.0        8.0    Cloudy
8   1/11/2017         -4.0       -1.0      Snow
9   1/12/2017         26.0       12.0     Sunny
10  1/13/2017         12.0       12.0     Rainy
11  1/11/2017         -1.0       12.0      Snow
12  1/14/2017         40.0       -1.0     Sunny

#Write