In [48]:
import numpy as np
import pandas as pd

In [49]:
#create series from python  list 
#define list
data=[10,20,30,40]
df=pd.Series(data)
print(df)
print(type(df))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [50]:
#define dictinary
data_dict={'A':10,
           'B':20,
           'C':30,
           'D':40}
series_dict=pd.Series(data_dict)
print(series_dict)
print(type(series_dict))

A    10
B    20
C    30
D    40
dtype: int64
<class 'pandas.core.series.Series'>

In [51]:
#Create Numpy array
numpy_array=np.array([10, 20, 30, 40])
series_np=pd.Series(numpy_array)
print(series_np)
print(series_np.ndim)

# Note:
#  When creating series via list and numpy array.Series index label are automatically generated starting

0    10
1    20
2    30
3    40
dtype: int64
1

In [52]:
data_2d = [
    [10, 20],
    [30,40],
    [50,60]
]
print(len(data_2d))

df_list = pd.DataFrame(data_2d, columns=['Column1', 'Column2'])
df_list

3

   Column1  Column2
0       10       20
1       30       40
2       50       60

In [53]:
#dictionary of list
data_dict={
    'Name':['ram','gita','rita'],
    'Age':[10,25,30]
}
df_dict=pd.DataFrame(data_dict)
df_dict

   Name  Age
0   ram   10
1  gita   25
2  rita   30

In [54]:
a={
    'Name':'ram',
    'Age':10
}
b={
    'Name':'gita',
    'Age':20
}
c={
    'Name':'sita',
    'Age':25
}
lists=[a,b,c]
df_list=pd.DataFrame(lists)
df_list

   Name  Age
0   ram   10
1  gita   20
2  sita   25

In [59]:
data_path = "/home/santosh/Desktop/Python-machine-learning-/Week 05/Day 02/car_details.csv"
excel_filename = "car_details.xlsx"

# Read CSV file and convert it to Excel using openpyxl engine
pd.read_csv(data_path).to_excel(excel_filename, index=False, engine='openpyxl')

print(f"CSV file '{data_path}' has been successfully converted to Excel file '{excel_filename}'")

CSV file '/home/santosh/Desktop/Python-machine-learning-/Week 05/Day 02/car_details.csv' has been successfully converted to Excel file 'car_details.xlsx'